# Ignore png files, folders starting with __ and annarchy folder
*.png
__*/
annarchy*/

Data_experimental_study/osfstorage-archive/Behavioural_data/*
!Data_experimental_study/osfstorage-archive/Behavioural_data/data_placeholder

data/activity_change/*
!data/activity_change/place_holder_change_activity

data/load_simulation_data/load_data/*
!data/load_simulation_data/load_data/place_holder_load_simulation_load_data

data/load_simulation_data/save_data/*
!data/load_simulation_data/save_data/place_holder_load_simulation_save_data

data/patient_data/*
!data/patient_data/place_holder_patient_data

data/simulation_data/*
!data/simulation_data/place_holder_simulation_data

data/gpi_scatter_data/1_suppression/*
!data/gpi_scatter_data/1_suppression/place_holder_scatter_suppression 
data/gpi_scatter_data/2_efferent/*
!data/gpi_scatter_data/2_efferent/place_holder_scatter_efferent
data/gpi_scatter_data/3_afferent/*
!data/gpi_scatter_data/3_afferent/place_holder_scatter_afferent
data/gpi_scatter_data/4_passing_fibres/*
!data/gpi_scatter_data/4_passing_fibres/place_holder_scatter_passing_fibres

data/parameter_data/1_suppression/*
!data/parameter_data/1_suppression/place_holder_parameter_suppression
data/parameter_data/2_efferent/*
!data/parameter_data/2_efferent/place_holder_parameter_efferent
data/parameter_data/3_afferent/*
!data/parameter_data/3_afferent/place_holder_parameter_afferent
data/parameter_data/4_passing_fibres/*
!data/parameter_data/4_passing_fibres/place_holder_parameter_passing_fibres

fig/*
!fig/place_holder_figures

statistic/*
!statistic/place_holder_statistic

results_fitting_q_learning*

tmp.py
